<a href="https://colab.research.google.com/github/davism02/Project-4-Predicting-Hospial-Readmission-for-Diabetes/blob/main/diabetes_nn_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
url ='https://raw.githubusercontent.com/davism02/Project-4-Predicting-Hospial-Readmission-for-Diabetes/main/Resources/diabetic_data.csv'

In [ ]:
#Loading libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

In [ ]:
df = pd.read_csv(url)
df.head()

   encounter_id  patient_nbr             race  ... change diabetesMed readmitted
0       2278392      8222157        Caucasian  ...     No          No         NO
1        149190     55629189        Caucasian  ...     Ch         Yes        >30
2         64410     86047875  AfricanAmerican  ...     No         Yes         NO
3        500364     82442376        Caucasian  ...     Ch         Yes         NO
4         16680     42519267        Caucasian  ...     Ch         Yes         NO

[5 rows x 50 columns]

In [ ]:

df = df[['age','time_in_hospital', 'num_procedures', 'num_medications', 'race', 'gender', 'readmitted']]
df

            age  time_in_hospital  ...  gender  readmitted
0        [0-10)                 1  ...  Female          NO
1       [10-20)                 3  ...  Female         >30
2       [20-30)                 2  ...  Female          NO
3       [30-40)                 2  ...    Male          NO
4       [40-50)                 1  ...    Male          NO
...         ...               ...  ...     ...         ...
101761  [70-80)                 3  ...    Male         >30
101762  [80-90)                 5  ...  Female          NO
101763  [70-80)                 1  ...    Male          NO
101764  [80-90)                10  ...  Female          NO
101765  [70-80)                 6  ...    Male          NO

[101766 rows x 7 columns]

In [ ]:
# Convert readmitted column to binary field

df = df.replace({'readmitted': {">30": 0, "NO": 0, "<30": 1}})

df.head()

       age  time_in_hospital  ...  gender  readmitted
0   [0-10)                 1  ...  Female           0
1  [10-20)                 3  ...  Female           0
2  [20-30)                 2  ...  Female           0
3  [30-40)                 2  ...    Male           0
4  [40-50)                 1  ...    Male           0

[5 rows x 7 columns]

In [ ]:
# Take average of each age to remove brackets and convert to numeric
df['age'] = df['age'].replace({"[70-80)":75,
                         "[60-70)":65,
                         "[50-60)":55,
                         "[80-90)":85,
                         "[40-50)":45,
                         "[30-40)":35,
                         "[90-100)":95,
                         "[20-30)":25,
                         "[10-20)":15,
                         "[0-10)":5})

In [ ]:
df.head()

   age  time_in_hospital  num_procedures  ...             race  gender readmitted
0    5                 1               0  ...        Caucasian  Female         NO
1   15                 3               0  ...        Caucasian  Female        >30
2   25                 2               5  ...  AfricanAmerican  Female         NO
3   35                 2               1  ...        Caucasian    Male         NO
4   45                 1               0  ...        Caucasian    Male         NO

[5 rows x 7 columns]

In [ ]:
cat_data = df.select_dtypes('O')
num_data = df.select_dtypes(np.number)
cat_data

                   race  gender
0             Caucasian  Female
1             Caucasian  Female
2       AfricanAmerican  Female
3             Caucasian    Male
4             Caucasian    Male
...                 ...     ...
101761  AfricanAmerican    Male
101762  AfricanAmerican  Female
101763        Caucasian    Male
101764        Caucasian  Female
101765        Caucasian    Male

[101766 rows x 2 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for i in cat_data:
  cat_data[i] = le.fit_transform(cat_data[i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df = pd.concat([num_data,cat_data],axis=1)
df.head()

   age  time_in_hospital  num_procedures  ...  readmitted  race  gender
0    5                 1               0  ...           0     3       0
1   15                 3               0  ...           0     3       0
2   25                 2               5  ...           0     1       0
3   35                 2               1  ...           0     3       1
4   45                 1               0  ...           0     3       1

[5 rows x 7 columns]

In [ ]:
df.shape

(101766, 7)

In [ ]:
# Convert object to numeric
df = df.apply(pd.to_numeric) # convert all columns of DataFrame

In [ ]:
# Split our preprocessed data into our features and target arrays
y = df['readmitted'].values
y

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
# Split the preprocessed data into a training and testing dataset
X = df.drop('readmitted', axis=1).values
X

array([[ 5,  1,  0,  1,  3,  0],
       [15,  3,  0, 18,  3,  0],
       [25,  2,  5, 13,  1,  0],
       ...,
       [75,  1,  0,  9,  3,  1],
       [85, 10,  2, 21,  3,  0],
       [75,  6,  3,  3,  3,  1]])

In [ ]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state= 42)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Compile, Train and Evalutate the Model

In [ ]:
## Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 7)                 49

 dense_5 (Dense)             (None, 14)                112

 dense_6 (Dense)             (None, 21)                315

 dense_7 (Dense)             (None, 1)                 22

=================================================================
Total params: 498
Trainable params: 498
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3588 - accuracy: 0.8867 - val_loss: 0.3438 - val_accuracy: 0.8909
Epoch 2/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3492 - accuracy: 0.8881 - val_loss: 0.3430 - val_accuracy: 0.8909
Epoch 3/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3487 - accuracy: 0.8881 - val_loss: 0.3431 - val_accuracy: 0.8909
Epoch 4/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3486 - accuracy: 0.8881 - val_loss: 0.3434 - val_accuracy: 0.8909
Epoch 5/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3485 - accuracy: 0.8881 - val_loss: 0.3425 - val_accuracy: 0.8909
Epoch 6/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3485 - accuracy: 0.8881 - val_loss: 0.3427 - val_accuracy: 0.8909
Epoch 7/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3483 - accuracy: 0.8881 - val_loss: 0.3426 - val_accuracy: 0.8909
Epoch 8/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3483 - accuracy: 0.8881 - val_loss: 0.3424 - val_accuracy: 0.8909
Epoch 9/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3483 - accuracy: 0.8881 - val_loss: 0.3427 - val_accuracy: 0.8909
Epoch 10/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3480 - accuracy: 0.8881 - val_loss: 0.3426 - val_accuracy: 0.8909
Epoch 11/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3481 - accuracy: 0.8881 - val_loss: 0.3430 - val_accuracy: 0.8909
Epoch 12/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3481 - accuracy: 0.8881 - val_loss: 0.3453 - val_accuracy: 0.8909
Epoch 13/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3479 - accuracy: 0.8881 - val_loss: 0.3434 - val_accuracy: 0.8909
Epoch 14/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3479 - accuracy: 0.8881 - val_loss: 0.3432 - val_accuracy: 0.8909
Epoch 15/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3481 - accuracy: 0.8881 - val_loss: 0.3428 - val_accuracy: 0.8909
Epoch 16/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3478 - accuracy: 0.8881 - val_loss: 0.3431 - val_accuracy: 0.8909
Epoch 17/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3478 - accuracy: 0.8881 - val_loss: 0.3424 - val_accuracy: 0.8909
Epoch 18/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3479 - accuracy: 0.8881 - val_loss: 0.3424 - val_accuracy: 0.8909
Epoch 19/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3477 - accuracy: 0.8881 - val_loss: 0.3426 - val_accuracy: 0.8909
Epoch 20/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3478 - accuracy: 0.8881 - val_loss: 0.3430 - val_accuracy: 0.8909
Epoch 21/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3477 - accuracy: 0.8881 - val_loss: 0.3431 - val_accuracy: 0.8909
Epoch 22/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3476 - accuracy: 0.8881 - val_loss: 0.3431 - val_accuracy: 0.8909
Epoch 23/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3476 - accuracy: 0.8881 - val_loss: 0.3433 - val_accuracy: 0.8909
Epoch 24/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3475 - accuracy: 0.8881 - val_loss: 0.3426 - val_accuracy: 0.8909
Epoch 25/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3474 - accuracy: 0.8881 - val_loss: 0.3444 - val_accuracy: 0.8909
Epoch 26/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3474 - accuracy: 0.8881 - val_loss: 0.3430 - val_accuracy: 0.8909
Epoch 27/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3474 - accuracy: 0.8881 - val_loss: 0.3429 - val_accuracy: 0.8909
Epoch 28/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3475 - accuracy: 0.8881 - val_loss: 0.3440 - val_accuracy: 0.8909
Epoch 29/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3475 - accuracy: 0.8881 - val_loss: 0.3429 - val_accuracy: 0.8909
Epoch 30/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3474 - accuracy: 0.8881 - val_loss: 0.3428 - val_accuracy: 0.8909
Epoch 31/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3474 - accuracy: 0.8881 - val_loss: 0.3431 - val_accuracy: 0.8909
Epoch 32/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3472 - accuracy: 0.8881 - val_loss: 0.3436 - val_accuracy: 0.8909
Epoch 33/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3472 - accuracy: 0.8881 - val_loss: 0.3430 - val_accuracy: 0.8909
Epoch 34/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3473 - accuracy: 0.8881 - val_loss: 0.3428 - val_accuracy: 0.8909
Epoch 35/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3473 - accuracy: 0.8881 - val_loss: 0.3432 - val_accuracy: 0.8909
Epoch 36/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3472 - accuracy: 0.8881 - val_loss: 0.3436 - val_accuracy: 0.8909
Epoch 37/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3472 - accuracy: 0.8881 - val_loss: 0.3434 - val_accuracy: 0.8909
Epoch 38/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3471 - accuracy: 0.8881 - val_loss: 0.3431 - val_accuracy: 0.8909
Epoch 39/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3471 - accuracy: 0.8881 - val_loss: 0.3428 - val_accuracy: 0.8909
Epoch 40/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3472 - accuracy: 0.8881 - val_loss: 0.3430 - val_accuracy: 0.8909
Epoch 41/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3471 - accuracy: 0.8881 - val_loss: 0.3430 - val_accuracy: 0.8909
Epoch 42/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3472 - accuracy: 0.8881 - val_loss: 0.3429 - val_accuracy: 0.8909
Epoch 43/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3470 - accuracy: 0.8881 - val_loss: 0.3433 - val_accuracy: 0.8909
Epoch 44/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3472 - accuracy: 0.8881 - val_loss: 0.3435 - val_accuracy: 0.8909
Epoch 45/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3471 - accuracy: 0.8881 - val_loss: 0.3433 - val_accuracy: 0.8909
Epoch 46/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3472 - accuracy: 0.8881 - val_loss: 0.3429 - val_accuracy: 0.8909
Epoch 47/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3470 - accuracy: 0.8881 - val_loss: 0.3436 - val_accuracy: 0.8909
Epoch 48/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3470 - accuracy: 0.8881 - val_loss: 0.3433 - val_accuracy: 0.8909
Epoch 49/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3471 - accuracy: 0.8881 - val_loss: 0.3435 - val_accuracy: 0.8909
Epoch 50/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3470 - accuracy: 0.8881 - val_loss: 0.3432 - val_accuracy: 0.8909
Epoch 51/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3470 - accuracy: 0.8881 - val_loss: 0.3431 - val_accuracy: 0.8909
Epoch 52/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3470 - accuracy: 0.8881 - val_loss: 0.3435 - val_accuracy: 0.8909
Epoch 53/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3470 - accuracy: 0.8881 - val_loss: 0.3443 - val_accuracy: 0.8909
Epoch 54/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3468 - accuracy: 0.8881 - val_loss: 0.3432 - val_accuracy: 0.8909
Epoch 55/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3468 - accuracy: 0.8881 - val_loss: 0.3432 - val_accuracy: 0.8909
Epoch 56/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3469 - accuracy: 0.8881 - val_loss: 0.3433 - val_accuracy: 0.8909
Epoch 57/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3470 - accuracy: 0.8881 - val_loss: 0.3434 - val_accuracy: 0.8909
Epoch 58/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3469 - accuracy: 0.8881 - val_loss: 0.3432 - val_accuracy: 0.8909
Epoch 59/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3469 - accuracy: 0.8881 - val_loss: 0.3434 - val_accuracy: 0.8909
Epoch 60/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3468 - accuracy: 0.8881 - val_loss: 0.3432 - val_accuracy: 0.8909
Epoch 61/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3468 - accuracy: 0.8881 - val_loss: 0.3436 - val_accuracy: 0.8909
Epoch 62/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3467 - accuracy: 0.8881 - val_loss: 0.3441 - val_accuracy: 0.8909
Epoch 63/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3468 - accuracy: 0.8881 - val_loss: 0.3434 - val_accuracy: 0.8909
Epoch 64/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3468 - accuracy: 0.8881 - val_loss: 0.3431 - val_accuracy: 0.8909
Epoch 65/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3466 - accuracy: 0.8881 - val_loss: 0.3437 - val_accuracy: 0.8909
Epoch 66/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3468 - accuracy: 0.8881 - val_loss: 0.3437 - val_accuracy: 0.8909
Epoch 67/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3467 - accuracy: 0.8881 - val_loss: 0.3435 - val_accuracy: 0.8909
Epoch 68/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3467 - accuracy: 0.8881 - val_loss: 0.3429 - val_accuracy: 0.8909
Epoch 69/100
2028/2028 [==============================] - 3s 2ms/step - loss: 0.3467 - accuracy: 0.8881 - val_loss: 0.3436 - val_accuracy: 0.8909
Epoch 70/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3467 - accuracy: 0.8881 - val_loss: 0.3436 - val_accuracy: 0.8909
Epoch 71/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3466 - accuracy: 0.8881 - val_loss: 0.3434 - val_accuracy: 0.8909
Epoch 72/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3466 - accuracy: 0.8881 - val_loss: 0.3435 - val_accuracy: 0.8909
Epoch 73/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3466 - accuracy: 0.8881 - val_loss: 0.3434 - val_accuracy: 0.8909
Epoch 74/100
2028/2028 [==============================] - 3s 2ms/step - loss: 0.3467 - accuracy: 0.8881 - val_loss: 0.3430 - val_accuracy: 0.8909
Epoch 75/100
2028/2028 [==============================] - 3s 2ms/step - loss: 0.3465 - accuracy: 0.8881 - val_loss: 0.3429 - val_accuracy: 0.8909
Epoch 76/100
2028/2028 [==============================] - 3s 2ms/step - loss: 0.3464 - accuracy: 0.8881 - val_loss: 0.3452 - val_accuracy: 0.8909
Epoch 77/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3465 - accuracy: 0.8881 - val_loss: 0.3432 - val_accuracy: 0.8909
Epoch 78/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3465 - accuracy: 0.8881 - val_loss: 0.3433 - val_accuracy: 0.8909
Epoch 79/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3465 - accuracy: 0.8881 - val_loss: 0.3434 - val_accuracy: 0.8909
Epoch 80/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3466 - accuracy: 0.8881 - val_loss: 0.3430 - val_accuracy: 0.8909
Epoch 81/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3464 - accuracy: 0.8881 - val_loss: 0.3433 - val_accuracy: 0.8909
Epoch 82/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3465 - accuracy: 0.8881 - val_loss: 0.3434 - val_accuracy: 0.8909
Epoch 83/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3464 - accuracy: 0.8881 - val_loss: 0.3432 - val_accuracy: 0.8909
Epoch 84/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3465 - accuracy: 0.8881 - val_loss: 0.3434 - val_accuracy: 0.8909
Epoch 85/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3464 - accuracy: 0.8881 - val_loss: 0.3443 - val_accuracy: 0.8909
Epoch 86/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3464 - accuracy: 0.8881 - val_loss: 0.3437 - val_accuracy: 0.8909
Epoch 87/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3463 - accuracy: 0.8881 - val_loss: 0.3434 - val_accuracy: 0.8909
Epoch 88/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3464 - accuracy: 0.8881 - val_loss: 0.3433 - val_accuracy: 0.8909
Epoch 89/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3464 - accuracy: 0.8881 - val_loss: 0.3436 - val_accuracy: 0.8909
Epoch 90/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3463 - accuracy: 0.8881 - val_loss: 0.3436 - val_accuracy: 0.8909
Epoch 91/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3462 - accuracy: 0.8881 - val_loss: 0.3439 - val_accuracy: 0.8909
Epoch 92/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3463 - accuracy: 0.8881 - val_loss: 0.3434 - val_accuracy: 0.8909
Epoch 93/100
2028/2028 [==============================] - 3s 2ms/step - loss: 0.3462 - accuracy: 0.8881 - val_loss: 0.3437 - val_accuracy: 0.8909
Epoch 94/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3463 - accuracy: 0.8881 - val_loss: 0.3433 - val_accuracy: 0.8909
Epoch 95/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3462 - accuracy: 0.8881 - val_loss: 0.3438 - val_accuracy: 0.8909
Epoch 96/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3463 - accuracy: 0.8881 - val_loss: 0.3431 - val_accuracy: 0.8909
Epoch 97/100
2028/2028 [==============================] - 3s 2ms/step - loss: 0.3463 - accuracy: 0.8881 - val_loss: 0.3435 - val_accuracy: 0.8909
Epoch 98/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3462 - accuracy: 0.8881 - val_loss: 0.3431 - val_accuracy: 0.8909
Epoch 99/100
2028/2028 [==============================] - 3s 1ms/step - loss: 0.3463 - accuracy: 0.8881 - val_loss: 0.3446 - val_accuracy: 0.8909
Epoch 100/100
2028/2028 [==============================] - 3s 2ms/step - loss: 0.3464 - accuracy: 0.8881 - val_loss: 0.3434 - val_accuracy: 0.8909

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

796/796 - 1s - loss: 0.3487 - accuracy: 0.8880 - 595ms/epoch - 747us/step
Loss: 0.3486519157886505, Accuracy: 0.8880198001861572

In [ ]:
## Compare model accuracy distribution using ShuffleSplit

In [ ]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/Model_1.h5')
files.download('/content/Model_1.h5')

In [ ]:
# Import dependencies
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_validate