<a href="https://colab.research.google.com/github/laurenemilyto/Project-4-Predicting-Hospial-Readmission-for-Diabetes/blob/main/diabetesv3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Model Development

In [1]:
#Loading libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

### Reading data from PostgresSQL Table
table = 'dataset'

In [2]:
# Import SQL Alchemy to read from Postgres databaase
import psycopg2
from sqlalchemy import create_engine, MetaData, func
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, Boolean, delete

In [3]:
# Establish connection to PostgreSQL
# Modify password and localhost as needed
engine = create_engine("postgresql://postgres:postgres@localhost:5432/project4")
conn = engine.connect()

In [9]:
# Read data from PostgreSQL database table and load into a DataFrame instance
query_results = pd.read_sql("select * from \"dataset\"", conn);

In [10]:
# Print dataframe
print(query_results)

        id race gender age weight time_in_hospital insulin diabetes_med  \
0        1    2      1   5      8                2       2            1
1        2    2      0   6      1                5       2            1
2        3    2      0   4      8                3       2            1
3        4    2      0   7      8               11       2            1
4        5    2      0   8      7                9       2            1
...    ...  ...    ...  ..    ...              ...     ...          ...
3054  3055    0      1   6      8                2       1            0
3055  3056    2      1   6      2                4       1            1
3056  3057    2      0   7      7                8       2            1
3057  3058    2      1   7      8                4       1            1
3058  3059    2      1   6      4                3       1            1

     readmitted
0             0
1             0
2             0
3             0
4             0
...         ...
3054          0
3055          0
3056          0
3057          1
3058          0

[3059 rows x 9 columns]

### Converting to Pandas Dataframe

In [12]:
df = pd.DataFrame(query_results)
df

,id,race,gender,age,weight,time_in_hospital,insulin,diabetes_med,readmitted
0,1,2,1,5,8,2,2,1,0
1,2,2,0,6,1,5,2,1,0
2,3,2,0,4,8,3,2,1,0
3,4,2,0,7,8,11,2,1,0
4,5,2,0,8,7,9,2,1,0
...,...,...,...,...,...,...,...,...,...
3054,3055,0,1,6,8,2,1,0,0
3055,3056,2,1,6,2,4,1,1,0
3056,3057,2,0,7,7,8,2,1,0
3057,3058,2,1,7,8,4,1,1,1
3058,3059,2,1,6,4,3,1,1,0

## Preprocessing Data

In [15]:
# Drop ID column since this is not needed for our model
df.drop(['id'], axis=1,inplace=True)
df

     race gender age weight time_in_hospital insulin diabetes_med readmitted
0       2      1   5      8                2       2            1          0
1       2      0   6      1                5       2            1          0
2       2      0   4      8                3       2            1          0
3       2      0   7      8               11       2            1          0
4       2      0   8      7                9       2            1          0
...   ...    ...  ..    ...              ...     ...          ...        ...
3054    0      1   6      8                2       1            0          0
3055    2      1   6      2                4       1            1          0
3056    2      0   7      7                8       2            1          0
3057    2      1   7      8                4       1            1          1
3058    2      1   6      4                3       1            1          0

[3059 rows x 8 columns]

In [16]:
# Verify shape
df.shape

(3059, 8)

In [17]:
# Verify that no null values exist
df.isnull().sum()

race                0
gender              0
age                 0
weight              0
time_in_hospital    0
insulin             0
diabetes_med        0
readmitted          0
dtype: int64

## Testing & Training Data

In [ ]:
# Split our preprocessed data into our features and target arrays
y = df['readmitted']
X = df.drop(columns = ["readmitted"], axis=1)

In [ ]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state= 42)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Number of features in datast
len(X.columns)

## Logistic Regression Model

In [ ]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression

lg = LogisticRegression(max_iter=1000)

In [ ]:
lg.fit(X_train,y_train)

In [ ]:
y_pred = lg.predict(X_test)
y_pred

In [ ]:
print(f'Training Score: {lg.score(X_train, y_train)}')
print(f'Testing Score: {lg.score(X_test, y_test)}')

In [ ]:
from sklearn.metrics import confusion_matrix , classification_report

target_names = ['not readmitted', 'readmitted']
print(classification_report(y_test, y_pred, target_names=target_names))

The classification report shows that recall is high, meaning that the classifier is missing some 'readmits' because it is being too careful. The F1 score, a balance of precision and recall is higher for readmitted patients than for patients who are not readmitted.

## Random Forest Model

In [ ]:
# Random Forest
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=42, n_estimators=200).fit(X_train,y_train)

print(f'Training Score: {rf.score(X_train, y_train)}')
print(f'Testing Score: {rf.score(X_test, y_test)}')

In [ ]:
ypred_rf = rf.predict(X_test)

## Neural Network Model

In [ ]:
## Neural Network model

# Define number of input features
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

In [ ]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

# Export Models

In [ ]:
# Export our model to HDF5 file
from google.colab import files

nn.save('models/Model_1.h5')
files.download('models/Model_1.h5')

In [ ]:
# Export our model to HDF5 file
import joblib

In [ ]:
joblib.dump(rf, 'models/Model_2.h5')

In [ ]:
rf = joblib.load('models/Model_2.h5')

In [ ]:
joblib.dump(lg, 'models/Model_3.h5')
lg = joblib.load('models/Model_3.h5')