In [1]:
import pandas as pd
from datetime import datetime
from sqlalchemy import create_engine

In [2]:
# Load CSV file
data = pd.read_csv("resources/final_data.csv")

In [3]:
data.head()

,Unnamed: 0,race,gender,age,weight,time_in_hospital,insulin,diabetesMed,readmitted
0,1102,2,1,5,8,2,2,1,0
1,1132,2,0,6,1,5,2,1,0
2,1136,2,0,4,8,3,2,1,0
3,1190,2,0,7,8,11,2,1,0
4,1204,2,0,8,7,9,2,1,0

In [4]:
#Drop Unnamed: 0 column
data.drop(["Unnamed: 0"], axis=1, inplace=True)

In [5]:
data.head()

,race,gender,age,weight,time_in_hospital,insulin,diabetesMed,readmitted
0,2,1,5,8,2,2,1,0
1,2,0,6,1,5,2,1,0
2,2,0,4,8,3,2,1,0
3,2,0,7,8,11,2,1,0
4,2,0,8,7,9,2,1,0

In [8]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\greyh\anaconda3\envs\pythondata\lib\site-packages (2.9.2)

In [11]:
# Establish Connection
# Modify port to 5432 if needed and change password to the password of your local database
engine = create_engine("postgresql://postgres:5t1ng4ay@localhost:5433/project4")
conn = engine.connect()